
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Default styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
}

/* Header */
header {
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: #FFD24C;
    box-shadow: 0px 2px 8px rgba(0,0,0,.6);
}

/* Header - Logo */
header img {
    width: 100px;
    height: auto;
}

/* Main */
main{
    padding: 80px 30px;
    text-align: center;
    justify-content: center;
}

main li {
    display: inline;
    list-style-type: none;
    padding: 0px 90px;

}

main img {
    cursor: pointer;
    width: 100px;
    height: auto;
    transition: 0.2s;
    border-radius: 5em;
    box-shadow: 0px 6px 12px rgba(0,0,0,.6);

}

main img:hover {
    opacity: .5;
}

.output {
    display: flex;
    text-align: center;
    
    padding: 60px 140px;
}

.output .flex {
    flex: 1;
}

.output .flex img {
    width: 100px;
    height: auto;
}
