
@import url('http://fonts.cdnfonts.com/css/8bit-wonder');

/* Default styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: '8BIT WONDER', sans-serif;
    background-color: #ffffff;
}